.animation{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: sample;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  

}

@keyframes sample {
    0% {background-color: blue; left: 0;top: 0;}
    25% {background-color: rgb(14, 14, 49);left: 200px;top:0 ;}
    50% {background-color: chartreuse;left: 200px;top: 200px;}
    75% {background-color: rgb(234, 255, 0);left: 0;top: 200px;}
    100% {background-color: crimson;left: 0;top: 0;}
}