/* static */
.static-1{
    position: static;
    left: 90px;
    border: 3px solid brown;
}

/* relative */

.relative-1{
    position: relative;
    left: 90px;
    border: 3px solid brown;
}

/* fixed */

.fixed-1{
    position: fixed;
    width: 300px;
    top: 150;
    right: 150;
    border: 3px solid red;
}

.relative-2{
    position: relative;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    border: 3px solid black;
}

.absolute-1{
    /* margin-top: 1000px; */
    position: absolute;
    border-radius: 20px;
    top: 77px;
    right: -2;
    border: 3px solid red;
    width: 200px;
    height: 100;
}

/* sticky  */

.sticky{
    position: sticky;
    top: 15;
    background-color: aqua;
    border: 2px solid black;
    padding: 10px;
}

.name{
    position: relative;
    color: brown;
    left: 50px;
}